@using WebUI.Models
@using WebUI.HtmlHelpers
@model ProductsListViewModel




@{
    ViewBag.Title = "Товары";
}

<h2>Список</h2>
<div class="row">

    @foreach (var p in @Model.Products)
    {
       @Html.Partial("ProductSummary", p)
    }
</div>
<hr />
<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, category = Model.CurrentCategory}))
</div>

